
.searchbar{
    width: 100vw;
    background-color: white;
    display: flex;
    margin-bottom: 10vh;
    height: 10vh;
    justify-content: center;
    padding-top: 3vh;

}

.searchbar-field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    position: absolute;
    z-index: 3;
}

.search-button{
    height: 5vh;
}

.searchbar-select-list{
    border: 1px solid grey;
}

.select{
    border: 1px solid grey;
    margin-top: 1px;
    margin-bottom: 0;
}

.select:hover{
    background-color: gray;
}