<div>
    <div>
        <input  name="search" [(ngModel)]="searchInput" #search="ngModel" (input)="searchChange()" >
        <div *ngIf="citiesNameListArray">
            <p *ngIf="citiesNameListArray[0]" class="select">{{citiesNameListArray[0]}}</p>
            <p *ngIf="citiesNameListArray[1]" sclass="select">{{citiesNameListArray[1]}}</p>
            <p *ngIf="citiesNameListArray[2]" class="select">{{citiesNameListArray[2]}}</p>
            <p *ngIf="citiesNameListArray[3]" class="select">{{citiesNameListArray[3]}}</p>
            <p *ngIf="citiesNameListArray[4]" class="select">{{citiesNameListArray[4]}}</p>
        </div>    
        <button >Search</button>
    </div>
   
    <p>TODO: remove this: {{searchInput}}</p>

</div>
