<div *ngIf="cityToDisplay && weather" class="card" (click)="openCityDetails(cityToDisplay, weather)">
    <h2>{{cityToDisplay.title}}</h2>
    <div class="header-card">
        <img [src]="weatherIconLink" alt="Clear" style="width:32px">
        <p>{{weather.the_temp}}°C</p>
    </div>
    <div class="card-section temp">
        <p>Min : {{weather.min_temp}}°C</p>
        <p>Max : {{weather.max_temp }}°C</p>
    </div>
    <div class="card-section details">
        <p>Wind : {{weather.wind_speed}}</p>
        <p>Humidity : {{weather.humidity}}</p>
    </div>
    <div class="card-section creation">
        <p>created {{weather.created | date :'short'}}</p>
    </div>
</div>
